field[b-4penuvfchn] {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.aviaBlock[b-4penuvfchn] {
    display: flex;
    flex-direction: column;
}
.label[b-4penuvfchn] {
    width: 200px;
}
.valueField[b-4penuvfchn] {
    width: 400px;
}
.artAvias[b-4penuvfchn] {
    display: flex;
    flex-direction: column;
}
.aviaTag[b-4penuvfchn] {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #8b008bff;
    border-radius: 8px;
    background-color: #ff00ff44;
}