<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TwinJet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Рейсы
            </NavLink>
            <NavLink class="nav-link" href="/booking" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Бронирование
            </NavLink>
            <NavLink class="nav-link" href="/passenger" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Пассажиры
            </NavLink>
        </div>

    </nav>


    @code {
        private bool collapseNavMenu = true;

        private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

    }

</div>