field {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.aviaBlock {
    display: flex;
    flex-direction: column;
}
.label {
    width: 200px;
}
.valueField {
    width: 400px;
}
.artAvias {
    display: flex;
    flex-direction: column;
}
.aviaTag {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #8b008bff;
    border-radius: 8px;
    background-color: #ff00ff44;
}